@using _27_FrontToBackSqlConnection.Models
@using _27_FrontToBackSqlConnection.Models.Base
@using _27_FrontToBackSqlConnection.ViewModels
@model HomeVM

@{
    ViewData["Title"] = "Home Page";
}

<div class="slider-area">
    <div class="swiper-container main-slider swiper-arrow with-bg_white">
        <div class="swiper-wrapper">
            @foreach (Sliders slider in Model.Sliders)
            {
                <div class="swiper-slide animation-style-01">
                    @* Arxa fon şəkli üçün düzgün path *@
                    <div class="slide-inner style-1 bg-height"
                         data-bg-image="/assets/images/slider/bg/1-1.jpg">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 order-2 order-lg-1 align-self-center">
                                    <div class="slide-content text-black">
                                        <span class="offer">@slider.Subtitle</span>
                                        <h2 class="title">@slider.Title</h2>
                                        <p class="short-desc">
                                            @slider.Description
                                        </p>
                                        <div class="btn-wrap">
                                            <a class="btn btn-custom-size xl-size btn-pronia-primary"
                                               href="shop.html">Discover Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-8 offset-md-2 offset-lg-0 order-1 order-lg-2">
                                    <div class="inner-img">
                                        <div class="scene fill">
                                            <div class="expand-width" data-depth="0.2">
                                                <img src="~/assets/images/website-images/@slider.Image"
                                                     alt="@slider.Title" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="swiper-pagination d-md-none"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<div class="shipping-area section-space-top-100">
    <div class="container">
        <div class="shipping-bg">
            <div class="row shipping-wrap">
                <div class="col-lg-4 col-md-6">
                    <div class="shipping-item">
                        <div class="shipping-img">
                            <img src="~/assets/images/website-images/car.png" alt="Free Shipping" />
                        </div>
                        <div class="shipping-content">
                            <h2 class="title">Free Shipping</h2>
                            <p class="short-desc mb-0">Capped at $319 per order</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                    <div class="shipping-item">
                        <div class="shipping-img">
                            <img src="~/assets/images/website-images/card.png" alt="Safe Payment" />
                        </div>
                        <div class="shipping-content">
                            <h2 class="title">Safe Payment</h2>
                            <p class="short-desc mb-0">With our payment gateway</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                    <div class="shipping-item">
                        <div class="shipping-img">
                            <img src="~/assets/images/website-images/service.png" alt="Best Services" />
                        </div>
                        <div class="shipping-content">
                            <h2 class="title">Best Services</h2>
                            <p class="short-desc mb-0">Friendly & Super Services</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-area section-space-top-100">
    <div class="container">
        <div class="section-title-wrap">
            <h2 class="section-title mb-0">Our Products</h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav product-tab-nav tab-style-1" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="active" id="featured-tab" data-bs-toggle="tab" href="#featured" role="tab">Featured</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a id="bestseller-tab" data-bs-toggle="tab" href="#bestseller" role="tab">Bestseller</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a id="latest-tab" data-bs-toggle="tab" href="#latest" role="tab">Latest</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="featured" role="tabpanel">
                        <div class="product-item-wrap row">
                            @foreach (Product product in Model.Products)
                            {
                                @* Şəkilləri təhlükəsiz şəkildə əldə edirik *@
                                string primaryImg = product.ProductImages?.FirstOrDefault(p => !p.IsDelete)?.Image ?? "default.jpg";
                                string secondaryImg = product.ProductImages?.Skip(1).FirstOrDefault(p => !p.IsDelete)?.Image ?? primaryImg;

                                <div class="col-xl-3 col-md-4 col-sm-6">
                                    <div class="product-item">
                                        <div class="product-img">
                                            <a href="shop.html">
                                                <img class="primary-img" src="~/assets/images/website-images/@primaryImg" alt="@product.Name" />
                                                <img class="secondary-img" src="~/assets/images/website-images/@secondaryImg" alt="@product.Name" />
                                            </a>
                                            <div class="product-add-action">
                                                <ul>
                                                    <li><a href="wishlist.html" data-tippy="Add to wishlist"><i class="pe-7s-like"></i></a></li>
                                                    <li class="quuickview-btn" data-bs-toggle="modal" data-bs-target="#quickModal">
                                                        <a href="#" data-tippy="Quickview"><i class="pe-7s-look"></i></a>
                                                    </li>
                                                    <li><a href="cart.html" data-tippy="Add to cart"><i class="pe-7s-cart"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <a class="product-name" href="shop.html">@product.Name</a>
                                            <div class="price-box pb-1">
                                                <span class="new-price">$@product.Price</span>
                                            </div>
                                            <div class="rating-box">
                                                <ul>
                                                    @for (int i = 0; i < 5; i++)
                                                    {
                                                        <li><i class="fa fa-star"></i></li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>